@import '@fortawesome/fontawesome-free/css/all.min.css';


form.form-inline.my-2.my-lg-0 {
  display: flex;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
  margin-left: 12px;
}

span.badge.badge-pill.badge-danger {
  background-color: #f11919;
  border-radius: 30px;
}

.d-flex.justify-content-between.w-100 {
  padding: .7rem;
}